%section.action
  .container
    .left-text.hidden-xs
      %h4 完全キャッシュレス社会の実現に向けて
      %p
        %em Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi ut explicabo magni sapiente.
        %br/
        = succeed "Inventore" do
          %br/
    .right-image.hidden-xs