.slider
  #about-slider
    #carousel-slider.carousel.slide{"data-ride" => "carousel"}
      / Indicators
      %ol.carousel-indicators.visible-xs
        %li.active{"data-slide-to" => "0", "data-target" => "#carousel-slider"}
        %li{"data-slide-to" => "1", "data-target" => "#carousel-slider"}
        %li{"data-slide-to" => "2", "data-target" => "#carousel-slider"}
      .carousel-inner
        .item.active
          %img.img-responsive{:alt => "", :src => "/img/suicalife.jpg"}/
          .carousel-caption
            .wow.fadeInUp{"data-wow-delay" => "0.3s", "data-wow-offset" => "0"}
              %h2
                %span forword to cashless
            .col-md-10.col-md-offset-1
              .wow.fadeInUp{"data-wow-delay" => "0.6s", "data-wow-offset" => "0"}
                %p Suica・Apple PayなどのICカード決済に対応
            .wow.fadeInUp{"data-wow-delay" => "0.9s", "data-wow-offset" => "0"}
              %form.form-inline
                .form-group
                  %button.btn.btn-primary.btn-lg{:name => "Live Demo", :required => "required", :type => "livedemo"} Learn more
                .form-group
                  %button.btn.btn-primary.btn-lg{:name => "Get Now", :required => "required", :type => "getnow"} Get Now
        .item
          %img.img-responsive{:alt => "", :src => "/img/cashless.jpg"}/
          .carousel-caption
            .wow.fadeInUp{"data-wow-delay" => "1.0s", "data-wow-offset" => "0"}
              %h2 No one have cash
            .col-md-10.col-md-offset-1
              .wow.fadeInUp{"data-wow-delay" => "0.6s", "data-wow-offset" => "0"}
                %p 現金のいらない世界を目指しています
            .wow.fadeInUp{"data-wow-delay" => "1.6s", "data-wow-offset" => "0"}
              %form.form-inline
                .form-group
                  %button.btn.btn-primary.btn-lg{:name => "purchase", :required => "required", :type => "livedemo"} Learn more
                .form-group
                  %button.btn.btn-primary.btn-lg{:name => "subscribe", :required => "required", :type => "getnow"} Get Now
        .item
          %img.img-responsive{:alt => "", :src => "/img/how.jpg"}/
          .carousel-caption
            .wow.fadeInUp{"data-wow-delay" => "0.3s", "data-wow-offset" => "0"}
              %h2 
            .col-md-10.col-md-offset-1
              .wow.fadeInUp{"data-wow-delay" => "0.6s", "data-wow-offset" => "0"}
                %p 完全キャッシュレス社会の実現に向けて
            .wow.fadeInUp{"data-wow-delay" => "0.9s", "data-wow-offset" => "0"}
              %form.form-inline
                .form-group
                  %button.btn.btn-primary.btn-lg{:name => "purchase", :required => "required", :type => "livedemo"} Learn more
                .form-group
                  %button.btn.btn-primary.btn-lg{:name => "subscribe", :required => "required", :type => "getnow"} Get Now
      %a.left.carousel-control.hidden-xs{"data-slide" => "prev", :href => "#carousel-slider"}
        %i.fa.fa-angle-left
      %a.right.carousel-control.hidden-xs{"data-slide" => "next", :href => "#carousel-slider"}
        %i.fa.fa-angle-right
    / /#carousel-slider
  / /#about-slider
/ /#slider