!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    / The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    %title Day - HTML Bootstrap Template

      \=======================================================
      Theme Name: Day
      Theme URL: https://bootstrapmade.com/day-multipurpose-html-template-for-free/
      Author: BootstrapMade
      Author URL: https://bootstrapmade.com
      \=======================================================
  %body
    %header#header
      %nav#top-header-1.navbar.navbar-default.navbar-static-top{:role => "banner"}
        .container
          .navbar-header
            %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            .navbar-brand
              %a{:href => "index.html"}
                %h1 Day
          .navbar-collapse.collapse
            .menu
              %ul.nav.nav-tabs{:role => "tablist"}
                %li{:role => "presentation"}
                  %a.active{:href => "index.html"} Home
                %li{:role => "presentation"}
                  %a{:href => "about.html"} About Us
                %li{:role => "presentation"}
                  %a{:href => "services.html"} Services
                %li{:role => "presentation"}
                  %a{:href => "gallery.html"} Gallery
                %li{:role => "presentation"}
                  %a{:href => "contact.html"} Contact
        / /.container
      / /nav
    / /header
    .slider
      #about-slider
        #carousel-slider.carousel.slide{"data-ride" => "carousel"}
          / Indicators
          %ol.carousel-indicators.visible-xs
            %li.active{"data-slide-to" => "0", "data-target" => "#carousel-slider"}
            %li{"data-slide-to" => "1", "data-target" => "#carousel-slider"}
            %li{"data-slide-to" => "2", "data-target" => "#carousel-slider"}
          .carousel-inner
            .item.active
              %img.img-responsive{:alt => "", :src => "/img/slide.jpg"}/
              .carousel-caption
                .wow.fadeInUp{"data-wow-delay" => "0.3s", "data-wow-offset" => "0"}
                  %h2
                    %span Clean &amp; Modern Design Template
                .col-md-10.col-md-offset-1
                  .wow.fadeInUp{"data-wow-delay" => "0.6s", "data-wow-offset" => "0"}
                    %p Lorem ipsum dolor sit amet consectetur adipisicing
                .wow.fadeInUp{"data-wow-delay" => "0.9s", "data-wow-offset" => "0"}
                  %form.form-inline
                    .form-group
                      %button.btn.btn-primary.btn-lg{:name => "Live Demo", :required => "required", :type => "livedemo"} Live Demo
                    .form-group
                      %button.btn.btn-primary.btn-lg{:name => "Get Now", :required => "required", :type => "getnow"} Get Now
            .item
              %img.img-responsive{:alt => "", :src => "/img/slide.jpg"}/
              .carousel-caption
                .wow.fadeInUp{"data-wow-delay" => "1.0s", "data-wow-offset" => "0"}
                  %h2 Fully Responsive
                .col-md-10.col-md-offset-1
                  .wow.fadeInUp{"data-wow-delay" => "0.6s", "data-wow-offset" => "0"}
                    %p Lorem ipsum dolor sit amet consectetur adipisicing
                .wow.fadeInUp{"data-wow-delay" => "1.6s", "data-wow-offset" => "0"}
                  %form.form-inline
                    .form-group
                      %button.btn.btn-primary.btn-lg{:name => "purchase", :required => "required", :type => "livedemo"} Live Demo
                    .form-group
                      %button.btn.btn-primary.btn-lg{:name => "subscribe", :required => "required", :type => "getnow"} Get Now
            .item
              %img.img-responsive{:alt => "", :src => "/img/slide.jpg"}/
              .carousel-caption
                .wow.fadeInUp{"data-wow-delay" => "0.3s", "data-wow-offset" => "0"}
                  %h2 学生会
                .col-md-10.col-md-offset-1
                  .wow.fadeInUp{"data-wow-delay" => "0.6s", "data-wow-offset" => "0"}
                    %p Lorem ipsum dolor sit amet consectetur adipisicing
                .wow.fadeInUp{"data-wow-delay" => "0.9s", "data-wow-offset" => "0"}
                  %form.form-inline
                    .form-group
                      %button.btn.btn-primary.btn-lg{:name => "purchase", :required => "required", :type => "livedemo"} Live Demo
                    .form-group
                      %button.btn.btn-primary.btn-lg{:name => "subscribe", :required => "required", :type => "getnow"} Get Now
          %a.left.carousel-control.hidden-xs{"data-slide" => "prev", :href => "#carousel-slider"}
            %i.fa.fa-angle-left
          %a.right.carousel-control.hidden-xs{"data-slide" => "next", :href => "#carousel-slider"}
            %i.fa.fa-angle-right
        / /#carousel-slider
      / /#about-slider
    / /#slider
    .about
      .container
        .text-center
          %h2 Quaerat quod voluptate consequuntur
          .col-md-10.col-md-offset-1
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat quod voluptate consequuntur ad quasi, dolores obcaecati ex aliquid, dolor provident accusamus omnis dolorum ipsam. Voluptatem ipsum expedita, corporis facilis laborum asperiores
              nostrum! Amet porro numquam ratione temporibus quia dolorem sint lorem voluptates quasi mollitia.
          .col-md-6.col-sm-6.col-xs-6
            .btn-gamp
              %a{:href => "#"} Learn More
          .col-md-6.col-sm-6.col-xs-6
            .gamp-btn
              %a{:href => "#"} download
    %hr/
    .services
      .container
        .text-center
          %h2 consectetur adipisicing elit
        .col-md-3.wow.fadeInDown{"data-wow-delay" => "300ms", "data-wow-duration" => "1000ms"}
          %i.fa.fa-heart-o
          %h3 Fully Responsive
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nam numquam voluptates cumque inventore, quibusdam corporis consequatur amet.
        .col-md-3.wow.fadeInDown{"data-wow-delay" => "600ms", "data-wow-duration" => "1000ms"}
          %i.fa.fa-cloud
          %h3 Retina Ready
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nam numquam voluptates cumque inventore, quibusdam corporis consequatur amet.
        .col-md-3.wow.fadeInDown{"data-wow-delay" => "900ms", "data-wow-duration" => "1000ms"}
          %i.fa.fa-book
          %h3 Fresh and Clean
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nam numquam voluptates cumque inventore, quibusdam corporis consequatur amet.
        .col-md-3.wow.fadeInDown{"data-wow-delay" => "1200ms", "data-wow-duration" => "1000ms"}
          %i.fa.fa-gear
          %h3 Easy to Customize
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nam numquam voluptates cumque inventore, quibusdam corporis consequatur amet.
    %section.action
      .container
        .left-text.hidden-xs
          %h4 Amet porro numquam ratione
          %p
            %em Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi ut explicabo magni sapiente.
            %br/
            = succeed "Inventore" do
              %br/
        .right-image.hidden-xs
    .gallery
      .text-center
        %h2 Gallery
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat quod voluptate consequuntur ad quasi, dolores obcaecati ex aliquid, dolor provident
      .container
        .col-md-4
          %figure.effect-marley
            %img.img-responsive{:alt => "", :src => "img/8.jpg"}/
            %figcaption
              %h4 sweet marley
              %p Marley tried to convince her but she was not interested.
        .col-md-4
          %figure.effect-marley
            %img.img-responsive{:alt => "", :src => "img/9.jpg"}/
            %figcaption
              %h4 sweet marley
              %p Marley tried to convince her but she was not interested.
        .col-md-4
          %figure.effect-marley
            %img.img-responsive{:alt => "", :src => "img/10.jpg"}/
            %figcaption
              %h4 sweet marley
              %p Marley tried to convince her but she was not interested.
      .container
        .col-md-4
          %figure.effect-marley
            %img.img-responsive{:alt => "", :src => "img/11.jpg"}/
            %figcaption
              %h4 sweet marley
              %p Marley tried to convince her but she was not interested.
        .col-md-4
          %figure.effect-marley
            %img.img-responsive{:alt => "", :src => "img/12.jpg"}/
            %figcaption
              %h4 sweet marley
              %p Marley tried to convince her but she was not interested.
        .col-md-4
          %figure.effect-marley
            %img.img-responsive{:alt => "", :src => "img/13.jpg"}/
            %figcaption
              %h4 sweet marley
              %p Marley tried to convince her but she was not interested.
    %footer
      .container
        .col-md-4.wow.fadeInDown{"data-wow-delay" => "300ms", "data-wow-duration" => "1000ms"}
          %h4 About Us
          %p Day is tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum mas justo sitters.
          .contact-info
            %ul
              %li
                %i.fa.fa-home.fa>
                Suite 54 Elizebth Street, Victoria State Newyork, USA
              %li
                %i.fa.fa-phone.fa
                +38 000 129900
              %li
                %i.fa.fa-envelope.fa
                info@domain.net
        .col-md-4.wow.fadeInDown{"data-wow-delay" => "600ms", "data-wow-duration" => "1000ms"}
          .text-center
            %h4 Photo Gallery
            %ul.sidebar-gallery
              %li
                %a{:href => "#"}
                  %img{:alt => "", :src => "img/gallery1.png"}/
              %li
                %a{:href => "#"}
                  %img{:alt => "", :src => "img/gallery2.png"}/
              %li
                %a{:href => "#"}
                  %img{:alt => "", :src => "img/gallery3.png"}/
              %li
                %a{:href => "#"}
                  %img{:alt => "", :src => "img/gallery4.png"}/
              %li
                %a{:href => "#"}
                  %img{:alt => "", :src => "img/gallery5.png"}/
              %li
                %a{:href => "#"}
                  %img{:alt => "", :src => "img/gallery6.png"}/
        .col-md-4.wow.fadeInDown{"data-wow-delay" => "900ms", "data-wow-duration" => "1000ms"}
          %div
            %h4 Newsletter Registration
            %p Subscribe today to receive the latest Day news via email. You may unsubscribe from this service at any time
            .btn-gamp
              %input#exampleInputEmail3.form-control{:placeholder => "Enter Email", :type => "email"}/
            .btn-gamp
              %a.btn.btn-default{:type => "submit"} Subscribe
    .sub-footer
      .container
        .social-icon
          .col-md-4
            %ul.social-network
              %li
                %a.fb.tool-tip{:href => "#", :title => "Facebook"}
                  %i.fa.fa-facebook
              %li
                %a.twitter.tool-tip{:href => "#", :title => "Twitter"}
                  %i.fa.fa-twitter
              %li
                %a.gplus.tool-tip{:href => "#", :title => "Google Plus"}
                  %i.fa.fa-google-plus
              %li
                %a.linkedin.tool-tip{:href => "#", :title => "Linkedin"}
                  %i.fa.fa-linkedin
              %li
                %a.ytube.tool-tip{:href => "#", :title => "You Tube"}
                  %i.fa.fa-youtube-play
        .col-md-4.col-md-offset-4
          .copyright
            © Day Theme. All Rights Reserved.
            .credits
              /
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Day
              Designed by
              %a{:href => "https://bootstrapmade.com/"} BootstrapMade
    / jQuery (necessary for Bootstrap's JavaScript plugins)
    -# %script{:src => "js/jquery.js"}
    / Include all compiled plugins (below), or include individual files as needed
    -# %script{:src => "js/bootstrap.min.js"}
    -# %script{:src => "js/wow.min.js"}
    :javascript
      wow = new WOW({}).init();
