!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title 高知高専学生会
  %body
    =render './nav'
    =render 'slider'
    =render './about'
    %hr/
    =render './service'
    =render 'section'
    =render './gallery'
    =render './footer'