=render './nav'
.text-center
  %h1#black PayPay、LINEPayなどがファミリーマートで利用可能
.container
  %h2.left-text.hidden-xs
    %p
      ソフトバンクとYahoo!の合弁会社であるPayPayは10月18日、11月以降ファミリーマートでのPayPay支払いが可能になることを発表した。また、ファミリーマートでは同じくLINEPayや楽天Payなどスマートフォン決済6種が12月から利用できるという。セブンイレブンも、来春には「セブン・ペイ」という独自決済手段を導入するといわれており、コンビニ各社のスマートフォン決済は本格化しそうだ。ファミリーマート、セブンイレブン、ローソンで現在利用できる決済手段についてもまとめた。
    %p
      これまで実店舗利用の詳細についてははっきりしていなかったが、10月18日、ファミリーマートでの11月からの利用開始が発表された。
    %p
      11月以降一部店舗からスタートし、12月4日からはセルフレジを除いた、国内全店舗で利用可能になるという。ファミリーマートでの決済方式は、「PayPay」アプリに表示したバーコードをユーザーがレジに提示し、ストア側が読み取る「ストアスキャン」方式のみだという。
=render './footer'