=render './nav'
.text-center
  %h1#black クレジットなど主要決済全てに対応
.container
  %h2.left-text.hidden-xs
    %p
      大和ハウス工業のグループ会社でキャッシュレス決済端末を手がけるロイヤルゲート（東京都港区）は１日、クレジットカードや非接触ＩＣ、ＱＲコードなど国内の主要な決済サービスに対応した新端末「ペイゲートステーション」を１２月７日に発売すると発表した。
    %p ペイゲートステーションは、ＱＲ決済サービスだけでなく、高いセキュリティー認証が求められるクレジットカードにも対応しているのが特徴。加盟店向けに端末代金と手数料を含めて１台５万円程度で販売する。
    %p 当初はＶＩＳＡやＪＣＢなどのクレジットカードのほか、ｄ払いやペイペイ、ＬＩＮＥペイ、楽天ペイなどのＱＲ決済、ポンタカードなどのポイントカードでの支払いに対応。来春にはＳｕｉｃａなどの各種電子マネーにも対応する。
    %p ロイヤルゲートの梅村圭司社長は「クレジットカード番号を暗号化するので安全に決済できる」とセキュリティーの高さや、さまざまな決済サービスに対応する拡張性を強調した。
  

=render './footer'