!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Day - HTML Bootstrap Template

  %body
    =render './nav'
    .text-center
      %h1#black Suica・Apple PayなどのICカード決済に対応
    .container
      %h2.left-text.hidden-xs
        %p
          %em マーケティング（本社：東京都渋谷区、代表取締役社長：長谷川 剛、以下「ロイヤリティ マーケティング」）と、株式会社ローソン（本社：東京都品川区、代表取締役 社長：竹増 貞信、以下「ローソン」）は、2018年11月7日（水）より、全国のローソン店舗（14,340店舗：2018年9月末現在）において、Apple Pay使用でPontaがたまる、つかえるサービスを開始します。日本国内の共通ポイントにおいて、iPhone、Apple Watch でApple Payを使用するだけで、ポイントをためて、つかうことができるのは初めてです。
        %p
          ロイヤリティ マーケティングが運営しているPontaの会員の皆様は、PontaカードをApple Walletに追加し、全国のローソン店舗において、Pontaカードの提示やバーコード、QRコードのスキャンを行わずにApple Payを使ってPontaポイントをためて、つかうことができるようになります。さらにApple Payにクレジットカードやプリペイドカード、Suicaを追加されている会員の方は、iPhone、Apple Watchを一度かざすだけで、Apple Payでの支払いと、Pontaポイントをためることが同時に行えるようになり、簡単に、クイックに、そして安心、安全にお買い物ができます。
        %p
          お客様にとってはPontaカードの提示やアプリケーションを起動する必要がなく、店舗にとってはPontaカードのバーコードをスキャンする必要がないため、お客様の利便性向上と店舗オペレーションの生産性向上につながります。
        %p 
        %p
        %h2.text-center.hidden-xs
          店頭での使い方
        .left-text
          %p
            PontaカードをiOS 12のApple Wallet に追加することで全国のローソン店頭にて PontaをiPhone、Apple Watchで使用することができます。
          %p
            Ponta会員の皆様はTouch IDに指を触れたままレジの読み取り端末にiPhoneをかざすか、Face IDを搭載したiPhoneおよびApple WatchではサイドボタンをダブルクリックしてかざすだけでPontaカードが自動的に選択され、ご利用できます。
          %p
            また、Apple Payでのお支払いを同時に行う場合は、通常通りFace ID認証後にかざすかTouch IDに指をふれたままかざすだけで、お支払いとPontaカードを同時にご利用できます。
          %p
            iPhone 7以降、Apple Watch Series 2以降でApple Payにクレジットカードやプリペイドカード、Suicaを追加されている会員の方は、iPhone、Apple Watchを一度かざすだけで、Apple Payでの支払いと、Pontaポイントをためることが同時に行えるようになり、簡単に、クイックに、そして安心、安全にお買い物ができます。
    =render './footer'