!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    / The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    %title Day - HTML Bootstrap Template
    / Bootstrap
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "css/animate.css", :rel => "stylesheet"}/
    %link{:href => "css/animate.min.css", :rel => "stylesheet"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    /
      \=======================================================
      Theme Name: Day
      Theme URL: https://bootstrapmade.com/day-multipurpose-html-template-for-free/
      Author: BootstrapMade
      Author URL: https://bootstrapmade.com
      \=======================================================
  %body
    =render './nav'
    .services
      .container
        .text-center
          %h2 consectetur adipisicing elit
          .col-md-3.wow.fadeInDown{"data-wow-delay" => "300ms", "data-wow-duration" => "1000ms"}
            %i.fa.fa-heart-o
            %h3 Fully Responsive
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nam numquam voluptates cumque inventore, quibusdam corporis consequatur amet.
          .col-md-3.wow.fadeInDown{"data-wow-delay" => "600ms", "data-wow-duration" => "1000ms"}
            %i.fa.fa-cloud
            %h3 Retina Ready
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nam numquam voluptates cumque inventore, quibusdam corporis consequatur amet.
          .col-md-3.wow.fadeInDown{"data-wow-delay" => "900ms", "data-wow-duration" => "1000ms"}
            %i.fa.fa-book
            %h3 Fresh and Clean
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nam numquam voluptates cumque inventore, quibusdam corporis consequatur amet.
          .col-md-3.wow.fadeInDown{"data-wow-delay" => "1200ms", "data-wow-duration" => "1000ms"}
            %i.fa.fa-gear
            %h3 Easy to Customize
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nam numquam voluptates cumque inventore, quibusdam corporis consequatur amet.
      .text-center
        .container
          .col-md-3.wow.fadeInDown{"data-wow-delay" => "300ms", "data-wow-duration" => "1000ms"}
            %i.fa.fa-heart-o
            %h3 Fully Responsive
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nam numquam voluptates cumque inventore, quibusdam corporis consequatur amet.
          .col-md-3.wow.fadeInDown{"data-wow-delay" => "600ms", "data-wow-duration" => "1000ms"}
            %i.fa.fa-cloud
            %h3 Retina Ready
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nam numquam voluptates cumque inventore, quibusdam corporis consequatur amet.
          .col-md-3.wow.fadeInDown{"data-wow-delay" => "900ms", "data-wow-duration" => "1000ms"}
            %i.fa.fa-book
            %h3 Fresh and Clean
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nam numquam voluptates cumque inventore, quibusdam corporis consequatur amet.
          .col-md-3.wow.fadeInDown{"data-wow-delay" => "1200ms", "data-wow-duration" => "1000ms"}
            %i.fa.fa-gear
            %h3 Easy to Customize
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nam numquam voluptates cumque inventore, quibusdam corporis consequatur amet.
    =render './footer'