.media
  .pull-left
    %a{:href => "#"}
      %img.media-object{:alt => "", :src => "img/#{member.image_url}"}/
  .media-body
    %h4
      = member.name
    %h5 
      =member.position
    %ul.tag.clearfix
      %li.btn
        %a{:href => "#"} 
          =member.skill1
      %li.btn
        %a{:href => "#"}
          =member.skill2
      %li.btn
        %a{:href => "#"}
          =member.skill3
      -if member.skill4 != nil
        %li.btn
          %a{:href => "#"}
            =member.skill4
    %ul.social_icons
      %li
        %a{:href => "#"}
          %i.fa.fa-facebook
      %li
        %a{:href => "#"}
          %i.fa.fa-twitter
      %li
        %a{:href => "#"}
          %i.fa.fa-google-plus
/ /.media
%p 
  =member.comment
/ /.col-lg-4