%section#about-us
  .container
    .text-center.wow.fadeInDown
      %h2 キャッシュレス決済導入の効果
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        %br/
        et dolore magna aliqua. Ut enim ad minim veniam
    .skill-wrap.clearfix
      .row
        .col-sm-3
          .sinlge-skill.wow.fadeInDown{"data-wow-delay" => "300ms", "data-wow-duration" => "1000ms"}
            .joomla-skill
              %p
                %em -85%
              %p 食券購入の待ち時間
        .col-sm-3
          .sinlge-skill.wow.fadeInDown{"data-wow-delay" => "600ms", "data-wow-duration" => "1000ms"}
            .html-skill
              %p
                %em -95%
              %p 財布の持ち歩き率
        .col-sm-3
          .sinlge-skill.wow.fadeInDown{"data-wow-delay" => "900ms", "data-wow-duration" => "1000ms"}
            .css-skill
              %p
                %em -80%
              %p 学食スタッフの負担
        .col-sm-3
          .sinlge-skill.wow.fadeInDown{"data-wow-delay" => "1200ms", "data-wow-duration" => "1000ms"}
            .wp-skill
              %p
                %em -90%
              %p 食券のランニングコスト
    / our-team
    =render 'team'