!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Day - HTML Bootstrap Template
  %body
    =render './nav'
    =render './about'
    %hr/
    %section#about-us
      .container
        .text-center.wow.fadeInDown
          %h2 Skills
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
            %br/
            et dolore magna aliqua. Ut enim ad minim veniam
        .skill-wrap.clearfix
          .row
            .col-sm-3
              .sinlge-skill.wow.fadeInDown{"data-wow-delay" => "300ms", "data-wow-duration" => "1000ms"}
                .joomla-skill
                  %p
                    %em 85%
                  %p Joomla
            .col-sm-3
              .sinlge-skill.wow.fadeInDown{"data-wow-delay" => "600ms", "data-wow-duration" => "1000ms"}
                .html-skill
                  %p
                    %em 95%
                  %p HTML
            .col-sm-3
              .sinlge-skill.wow.fadeInDown{"data-wow-delay" => "900ms", "data-wow-duration" => "1000ms"}
                .css-skill
                  %p
                    %em 80%
                  %p CSS
            .col-sm-3
              .sinlge-skill.wow.fadeInDown{"data-wow-delay" => "1200ms", "data-wow-duration" => "1000ms"}
                .wp-skill
                  %p
                    %em 90%
                  %p Wordpress
        / our-team
        .team
          .text-center.wow.fadeInDown
            %h2 Team of Day
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
              %br/
              et dolore magna aliqua. Ut enim ad minim veniam
          .row.clearfix
            .col-md-4.col-sm-6
              .single-profile-top.wow.fadeInDown{"data-wow-delay" => "300ms", "data-wow-duration" => "1000ms"}
                .media
                  .pull-left
                    %a{:href => "#"}
                      %img.media-object{:alt => "", :src => "img/man1.jpg"}/
                  .media-body
                    %h4 Jhon Doe
                    %h5 Founder and CEO
                    %ul.tag.clearfix
                      %li.btn
                        %a{:href => "#"} Web
                      %li.btn
                        %a{:href => "#"} Ui
                      %li.btn
                        %a{:href => "#"} Ux
                      %li.btn
                        %a{:href => "#"} Photoshop
                    %ul.social_icons
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-facebook
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-twitter
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-google-plus
                / /.media
                %p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
            / /.col-lg-4
            .col-md-4.col-sm-6.col-md-offset-2
              .single-profile-top.wow.fadeInDown{"data-wow-delay" => "300ms", "data-wow-duration" => "1000ms"}
                .media
                  .pull-left
                    %a{:href => "#"}
                      %img.media-object{:alt => "", :src => "img/man2.jpg"}/
                  .media-body
                    %h4 Jhon Doe
                    %h5 Founder and CEO
                    %ul.tag.clearfix
                      %li.btn
                        %a{:href => "#"} Web
                      %li.btn
                        %a{:href => "#"} Ui
                      %li.btn
                        %a{:href => "#"} Ux
                      %li.btn
                        %a{:href => "#"} Photoshop
                    %ul.social_icons
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-facebook
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-twitter
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-google-plus
                / /.media
                %p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
            / /.col-lg-4
          / /.row
          .row.team-bar
            .first-one-arrow.hidden-xs
              %hr/
            .first-arrow.hidden-xs
              %hr/
              %i.fa.fa-angle-up
            .second-arrow.hidden-xs
              %hr/
              %i.fa.fa-angle-down
            .third-arrow.hidden-xs
              %hr/
              %i.fa.fa-angle-up
            .fourth-arrow.hidden-xs
              %hr/
              %i.fa.fa-angle-down
          / skill_border
          .row.clearfix
            .col-md-4.col-sm-6.col-md-offset-2
              .single-profile-bottom.wow.fadeInUp{"data-wow-delay" => "600ms", "data-wow-duration" => "1000ms"}
                .media
                  .pull-left
                    %a{:href => "#"}
                      %img.media-object{:alt => "", :src => "img/man3.jpg"}/
                  .media-body
                    %h4 Jhon Doe
                    %h5 Founder and CEO
                    %ul.tag.clearfix
                      %li.btn
                        %a{:href => "#"} Web
                      %li.btn
                        %a{:href => "#"} Ui
                      %li.btn
                        %a{:href => "#"} Ux
                      %li.btn
                        %a{:href => "#"} Photoshop
                    %ul.social_icons
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-facebook
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-twitter
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-google-plus
                / /.media
                %p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
            .col-md-4.col-sm-6.col-md-offset-2
              .single-profile-bottom.wow.fadeInUp{"data-wow-delay" => "600ms", "data-wow-duration" => "1000ms"}
                .media
                  .pull-left
                    %a{:href => "#"}
                      %img.media-object{:alt => "", :src => "img/man4.jpg"}/
                  .media-body
                    %h4 Jhon Doe
                    %h5 Founder and CEO
                    %ul.tag.clearfix
                      %li.btn
                        %a{:href => "#"} Web
                      %li.btn
                        %a{:href => "#"} Ui
                      %li.btn
                        %a{:href => "#"} Ux
                      %li.btn
                        %a{:href => "#"} Photoshop
                    %ul.social_icons
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-facebook
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-twitter
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-google-plus
                / /.media
                %p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
    =render './footer'
