=render './nav'
    
    
    
.container
  .text-center
    = image_tag '/img/thankyou.png'
  .page-header
  %h2
    %p
      お問い合わせありがとうございました。
      %br/
      問い合わせ内容は管理者宛にメールで送信 ならびに ChatWorkで通知しました。

=render './footer'
