.about
  .container
    .text-center
      %h2 チームKYOTO
      .col-md-10.col-md-offset-1
        %p
          ITの力を使って学生生活を楽しく、豊かに、便利に。
      .col-md-6.col-sm-6.col-xs-6
        .btn-gamp
          = link_to about_index_path do
            Learn More
      .col-md-6.col-sm-6.col-xs-6
        .gamp-btn
          =link_to "about#downloadpdf" do
            download