.about
  .container
    .text-center
      %h2 高知高専学生会kari
      .col-md-10.col-md-offset-1
        %p
          学生生活を楽しく、豊かに、節度あるものとし、良き校風と伝統を創りあげること。
      .col-md-6.col-sm-6.col-xs-6
        .btn-gamp
          %a{:href => "#"} Learn More
      .col-md-6.col-sm-6.col-xs-6
        .gamp-btn
          %a{:href => "#"} download