%footer
  .container
    .col-md-4.wow.fadeInDown{"data-wow-delay" => "300ms", "data-wow-duration" => "1000ms"}
      %h4 About Us
      %p Day is tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum mas justo sitters.
      .contact-info
        %ul
          %li
            %i.fa.fa-home.fa>
            Suite 54 Elizebth Street, Victoria State Newyork, USA
          %li
            %i.fa.fa-phone.fa
            +38 000 129900
          %li
            %i.fa.fa-envelope.fa
            info@domain.net
    .col-md-4.wow.fadeInDown{"data-wow-delay" => "600ms", "data-wow-duration" => "1000ms"}
      .text-center
        %h4 Photo Gallery
        %ul.sidebar-gallery
          %li
            %a{:href => "#"}
              %img{:alt => "", :src => "img/gallery1.png"}/
          %li
            %a{:href => "#"}
              %img{:alt => "", :src => "img/gallery2.png"}/
          %li
            %a{:href => "#"}
              %img{:alt => "", :src => "img/gallery3.png"}/
          %li
            %a{:href => "#"}
              %img{:alt => "", :src => "img/gallery4.png"}/
          %li
            %a{:href => "#"}
              %img{:alt => "", :src => "img/gallery5.png"}/
          %li
            %a{:href => "#"}
              %img{:alt => "", :src => "img/gallery6.png"}/
    .col-md-4.wow.fadeInDown{"data-wow-delay" => "900ms", "data-wow-duration" => "1000ms"}
      %div
        %h4 Newsletter Registration
        %p Subscribe today to receive the latest Day news via email. You may unsubscribe from this service at any time
        .btn-gamp
          %input#exampleInputEmail3.form-control{:placeholder => "Enter Email", :type => "email"}/
        .btn-gamp
          %a.btn.btn-default{:type => "submit"} Subscribe
.sub-footer
  .container
    .social-icon
      .col-md-4
        %ul.social-network
          %li
            %a.fb.tool-tip{:href => "#", :title => "Facebook"}
              %i.fa.fa-facebook
          %li
            %a.twitter.tool-tip{:href => "#", :title => "Twitter"}
              %i.fa.fa-twitter
          %li
            %a.gplus.tool-tip{:href => "#", :title => "Google Plus"}
              %i.fa.fa-google-plus
          %li
            %a.linkedin.tool-tip{:href => "#", :title => "Linkedin"}
              %i.fa.fa-linkedin
          %li
            %a.ytube.tool-tip{:href => "#", :title => "You Tube"}
              %i.fa.fa-youtube-play
    .col-md-4.col-md-offset-4
      .copyright
        © Day Theme. All Rights Reserved.
        .credits
          Designed by
          %a{:href => "https://bootstrapmade.com/"} BootstrapMade&Nakayama

:javascript
  wow = new WOW({}).init();
