.gallery
  .text-center
    %h2 Gallery
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat quod voluptate consequuntur ad quasi, dolores obcaecati ex aliquid, dolor provident
  .container
    .col-md-4
      %figure.effect-marley
        %img.img-responsive{:alt => "", :src => "img/8.jpg"}/
        %figcaption
          %h4 sweet marley
          %p Marley tried to convince her but she was not interested.
    .col-md-4
      %figure.effect-marley
        %img.img-responsive{:alt => "", :src => "img/9.jpg"}/
        %figcaption
          %h4 sweet marley
          %p Marley tried to convince her but she was not interested.
    .col-md-4
      %figure.effect-marley
        %img.img-responsive{:alt => "", :src => "img/10.jpg"}/
        %figcaption
          %h4 sweet marley
          %p Marley tried to convince her but she was not interested.
  .container
    .col-md-4
      %figure.effect-marley
        %img.img-responsive{:alt => "", :src => "img/11.jpg"}/
        %figcaption
          %h4 sweet marley
          %p Marley tried to convince her but she was not interested.
    .col-md-4
      %figure.effect-marley
        %img.img-responsive{:alt => "", :src => "img/12.jpg"}/
        %figcaption
          %h4 sweet marley
          %p Marley tried to convince her but she was not interested.
    .col-md-4
      %figure.effect-marley
        %img.img-responsive{:alt => "", :src => "img/13.jpg"}/
        %figcaption
          %h4 sweet marley
          %p Marley tried to convince her but she was not interested.
