.gallery
  .text-center
    %h2 Gallery
    %p チームKYOTOはあらゆる決済方法に対応していきます。
  .container
    .col-md-4
      %figure.effect-marley
        %img.img-responsive{:alt => "", :src => "img/suicalife.jpg"}/
        %figcaption
          %h4 suicaに対応
          %p 交通機関ICにも完全に対応
    .col-md-4
      %figure.effect-marley
        %img.img-responsive{:alt => "", :src => "img/ic_company.png"}/
        %figcaption
          %h4 applepayなど各サービスに対応
          %p これが何もいらない
    .col-md-4
      %figure.effect-marley
        %img.img-responsive{:alt => "", :src => "img/suica.png"}/
        %figcaption
          %h4 suicaを高知へ広める
          %p 地元への貢献をしていきます
  .container
    .col-md-4
      %figure.effect-marley
        %img.img-responsive{:alt => "", :src => "img/cash.gif"}/
        %figcaption
          %h4 自動販売で使えます
          %p 高専内8カ所の自動販売機に対応
    .col-md-4
      %figure.effect-marley
        %img.img-responsive{:alt => "", :src => "img/cashpay.jpg"}/
        %figcaption
          %h4 cashlessの時代へ
          %p 現金のいらない世界を目指します
    .col-md-4
      %figure.effect-marley
        %img.img-responsive{:alt => "", :src => "img/cashless.jpg"}/
        %figcaption
          %h4 クレジット決済に対応
          %p VISA, JCBに対応
  
