.services
  .container
    .text-center
      %h2 チーム京都の目的
    .col-md-3.wow.fadeInDown{"data-wow-delay" => "300ms", "data-wow-duration" => "1000ms"}
      %i.fa.fa-heart-o
      %h3 Fully Responsive
      %p 学生生活を楽しく、豊かに、節度あるものとし、良き校風と伝統を創りあげる。
    .col-md-3.wow.fadeInDown{"data-wow-delay" => "600ms", "data-wow-duration" => "1000ms"}
      %i.fa.fa-cloud
      %h3 Retina Ready
      %p 心身の健康を助長し健全な趣味、豊かな教養を身につけ、思索と実践力に富む格調高い人間を創りあげる。
    .col-md-3.wow.fadeInDown{"data-wow-delay" => "900ms", "data-wow-duration" => "1000ms"}
      %i.fa.fa-book
      %h3 Fresh and Clean
      %p 学校生活における集団活動に積極的に参加し、協同的、民主的行動の態度を身につけること。
    .col-md-3.wow.fadeInDown{"data-wow-delay" => "1200ms", "data-wow-duration" => "1000ms"}
      %i.fa.fa-gear
      %h3 Easy to have
      %p 学食の決済処理の時間を減らし、充実した昼食時間を提供する