!!!
%html.no-js{:lang => "en"}
  / Begin Head
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    / Basic
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %title Megakit - HTML5 Theme
    %meta{:content => "HTML5 Theme", :name => "keywords"}/
    %meta{:content => "Megakit - HTML5 Theme", :name => "description"}/
    %meta{:content => "keenthemes.com", :name => "author"}/
    / Web Fonts
    %link{:href => "https://fonts.googleapis.com/css?family=Lato:300,400,400i|Montserrat:400,700", :rel => "stylesheet"}/
    / Vendor Styles
    %link{:href => "vendor/bootstrap/css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/animate.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "vendor/themify/themify.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "vendor/scrollbar/scrollbar.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "vendor/magnific-popup/magnific-popup.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "vendor/swiper/swiper.min.css", :rel => "stylesheet", :type => "text/css"}/
    / Theme Styles
    %link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/global/global.css", :rel => "stylesheet", :type => "text/css"}/
    / Favicon
    %link{:href => "img/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    %link{:href => "img/apple-touch-icon.png", :rel => "apple-touch-icon"}/
  / End Head
  / Body
  %body
    / ========== HEADER ==========
    %header.navbar-fixed-top.s-header.js__header-sticky.js__header-overlay
      / Navbar
      .s-header__navbar
        .s-header__container
          .s-header__navbar-row
            .s-header__navbar-row-col
              / Logo
              .s-header__logo
                %a.s-header__logo-link{:href => "index.html"}
                  %img.s-header__logo-img.s-header__logo-img-default{:alt => "Megakit Logo", :src => "img/logo.png"}/
                  %img.s-header__logo-img.s-header__logo-img-shrink{:alt => "Megakit Logo", :src => "img/logo-dark.png"}/
              / End Logo
            .s-header__navbar-row-col
              / Trigger
              %a.s-header__trigger.js__trigger{:href => "javascript:void(0);"}
                %span.s-header__trigger-icon
                %svg{:height => "3.125rem", :viewbox => "0 0 54 54", :width => "3.125rem", :x => "0rem", :y => "0rem"}
                  %circle{:cx => "27", :cy => "27", :fill => "transparent", :r => "25", :stroke => "#fff", "stroke-dasharray" => "157 157", "stroke-dashoffset" => "157", "stroke-width" => "1"}
              / End Trigger
      / End Navbar
      / Overlay
      .s-header-bg-overlay.js__bg-overlay
        / Nav
        %nav.s-header__nav.js__scrollbar
          .container-fluid
            / Menu List
            %ul.list-unstyled.s-header__nav-menu
              %li.s-header__nav-menu-item
                %a.s-header__nav-menu-link.s-header__nav-menu-link-divider{:href => "index.html"} Corporate
              %li.s-header__nav-menu-item
                %a.s-header__nav-menu-link.s-header__nav-menu-link-divider{:href => "index_app_landing.html"} App Landing
              %li.s-header__nav-menu-item
                %a.s-header__nav-menu-link.s-header__nav-menu-link-divider{:href => "index_portfolio.html"} Portfolio
              %li.s-header__nav-menu-item
                %a.s-header__nav-menu-link.s-header__nav-menu-link-divider{:href => "index_events.html"} Events
              %li.s-header__nav-menu-item
                %a.s-header__nav-menu-link.s-header__nav-menu-link-divider{:href => "index_lawyer.html"} Lawyer
              %li.s-header__nav-menu-item
                %a.s-header__nav-menu-link.s-header__nav-menu-link-divider{:href => "index_clinic.html"} Clinic
              %li.s-header__nav-menu-item
                %a.s-header__nav-menu-link.s-header__nav-menu-link-divider{:href => "index_coming_soon.html"} Coming Soon
            / End Menu List
            / Menu List
            %ul.list-unstyled.s-header__nav-menu
              %li.s-header__nav-menu-item
                %a.s-header__nav-menu-link.s-header__nav-menu-link-divider.-is-active{:href => "about.html"} About
              %li.s-header__nav-menu-item
                %a.s-header__nav-menu-link.s-header__nav-menu-link-divider{:href => "team.html"} Team
              %li.s-header__nav-menu-item
                %a.s-header__nav-menu-link.s-header__nav-menu-link-divider{:href => "services.html"} Services
              %li.s-header__nav-menu-item
                %a.s-header__nav-menu-link.s-header__nav-menu-link-divider{:href => "events.html"} Events
              %li.s-header__nav-menu-item
                %a.s-header__nav-menu-link.s-header__nav-menu-link-divider{:href => "faq.html"} FAQ
              %li.s-header__nav-menu-item
                %a.s-header__nav-menu-link.s-header__nav-menu-link-divider{:href => "contacts.html"} Contacts
            / End Menu List
        / End Nav
        / Action
        %ul.list-inline.s-header__action.s-header__action--lb
          %li.s-header__action-item
            %a.s-header__action-link.-is-active{:href => "#"} En
          %li.s-header__action-item
            %a.s-header__action-link{:href => "#"} Fr
        / End Action
        / Action
        %ul.list-inline.s-header__action.s-header__action--rb
          %li.s-header__action-item
            %a.s-header__action-link{:href => "https://www.behance.net/keenthemes"}
              %i.g-padding-r-5--xs.ti-facebook
              %span.g-display-none--xs.g-display-inline-block--sm Facebook
          %li.s-header__action-item
            %a.s-header__action-link{:href => "https://twitter.com/keenthemes"}
              %i.g-padding-r-5--xs.ti-twitter
              %span.g-display-none--xs.g-display-inline-block--sm Twitter
          %li.s-header__action-item
            %a.s-header__action-link{:href => "https://dribbble.com/keenthemes"}
              %i.g-padding-r-5--xs.ti-dribbble
              %span.g-display-none--xs.g-display-inline-block--sm Dribbble
        / End Action
      / End Overlay
    / ========== END HEADER ==========
    / ========== PROMO BLOCK ==========
    .g-fullheight--md.js__parallax-window{:style => "background: url(img/1920x1080/02.jpg) 50% 0 no-repeat fixed;"}
      .g-container--md.g-text-center--xs.g-ver-center--md.g-padding-y-150--xs.g-padding-y-0--md
        .g-margin-b-60--xs
          %p.text-uppercase.g-font-size-14--xs.g-font-weight--700.g-color--white-opacity.g-letter-spacing--2.g-margin-b-25--xs Welcome to Megakit
          %h1.g-font-size-40--xs.g-font-size-50--sm.g-font-size-60--md.g-color--white.g-letter-spacing--1 Creative Design
          %p.g-font-size-18--xs.g-font-size-26--md.g-color--white-opacity.g-margin-b-0--xs We are a creative studio focusing on culture, luxury, editorial &amp; art. Somewhere between sophistication and simplicity.
        %span.g-display-block--xs.g-display-inline-block--sm.g-padding-x-5--xs.g-margin-b-10--xs.g-margin-b-0--sm
          %a.text-uppercase.s-btn.s-btn-icon--md.s-btn--primary-bg.g-radius--50.g-padding-x-45--xs{:href => "https://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes"} Learn More
        %span.g-display-block--xs.g-display-inline-block--sm.g-padding-x-5--xs.g-margin-b-10--xs.g-margin-b-0--sm
          %a.text-uppercase.s-btn.s-btn-icon--md.s-btn--white-brd.g-radius--50.g-padding-x-65--xs{:href => "https://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes"} Hire Us
    / ========== END PROMO BLOCK ==========
    / ========== PAGE CONTENT ==========
    / About
    .container.g-padding-y-80--xs.g-padding-y-125--sm
      .row.g-hor-centered-row--md.g-row-col--5.g-margin-b-60--xs.g-margin-b-100--md
        .col-sm-3.col-xs-6.g-hor-centered-row__col
          .wow.fadeInLeft{"data-wow-delay" => ".1s", "data-wow-duration" => ".3"}
            %img.img-responsive{:alt => "Image", :src => "img/400x500/05.jpg"}/
        .col-sm-3.col-xs-6.g-hor-centered-row__col.g-margin-b-60--xs.g-margin-b-0--md
          .wow.fadeInLeft{"data-wow-delay" => ".2s", "data-wow-duration" => ".3"}
            %img.img-responsive{:alt => "Image", :src => "img/400x550/01.jpg"}/
        .col-sm-1
        .col-sm-5.g-hor-centered-row__col
          %p.text-uppercase.g-font-size-14--xs.g-font-weight--700.g-color--primary.g-letter-spacing--2.g-margin-b-25--xs Culture
          %h2.g-font-size-32--xs.g-font-size-36--sm.g-margin-b-25--xs About Event
          %p.g-font-size-18--sm We aim high at being focused on building relationships with our clients and community. Using our creative gifts drives this foundation.
      .row.g-hor-centered-row--md.g-row-col--5
        .col-sm-3.col-xs-6.col-sm-push-6.g-hor-centered-row__col
          .wow.fadeInRight{"data-wow-delay" => ".2s", "data-wow-duration" => ".3"}
            %img.img-responsive{:alt => "Image", :src => "img/400x550/02.jpg"}/
        .col-sm-3.col-xs-6.col-sm-push-6.g-hor-centered-row__col.g-margin-b-60--xs.g-margin-b-0--md
          .wow.fadeInRight{"data-wow-delay" => ".1s", "data-wow-duration" => ".3"}
            %img.img-responsive{:alt => "Image", :src => "img/400x500/06.jpg"}/
        .col-sm-1
        .col-sm-5.col-sm-pull-7.g-hor-centered-row__col.g-text-left--xs.g-text-right--md
          %p.text-uppercase.g-font-size-14--xs.g-font-weight--700.g-color--primary.g-letter-spacing--2.g-margin-b-25--xs Speakers
          %h2.g-font-size-32--xs.g-font-size-36--sm.g-margin-b-25--xs Keynote Speakers
          %p.g-font-size-18--sm Working together on the daily requires each individual to let the greater good of the team’s work surface above their own ego.
    / End About
    / Process
    .g-bg-color--primary-ltr
      .container.g-padding-y-80--xs.g-padding-y-125--sm
        .g-text-center--xs.g-margin-b-100--xs
          %p.text-uppercase.g-font-size-14--xs.g-font-weight--700.g-color--white-opacity.g-letter-spacing--2.g-margin-b-25--xs Process
          %h2.g-font-size-32--xs.g-font-size-36--md.g-color--white How it Works
        %ul.list-inline.row.g-margin-b-100--xs
          / Process
          %li.col-sm-3.col-xs-6.g-full-width--xs.s-process-v1.g-margin-b-60--xs.g-margin-b-0--md
            .center-block.g-text-center--xs
              .g-margin-b-30--xs
                %span.g-display-inline-block--xs.g-width-100--xs.g-height-100--xs.g-font-size-38--xs.g-color--primary.g-bg-color--white.g-box-shadow__dark-lightest-v4.g-padding-x-20--xs.g-padding-y-20--xs.g-radius--circle 01
              .g-padding-x-20--xs
                %h3.g-font-size-18--xs.g-color--white Consult
                %p.g-color--white-opacity This is where we sit down, grab a cup of coffee and dial in the details.
          / End Process
          / Process
          %li.col-sm-3.col-xs-6.g-full-width--xs.s-process-v1.g-margin-b-60--xs.g-margin-b-0--md
            .center-block.g-text-center--xs
              .g-margin-b-30--xs
                %span.g-display-inline-block--xs.g-width-100--xs.g-height-100--xs.g-font-size-38--xs.g-color--primary.g-bg-color--white.g-box-shadow__dark-lightest-v4.g-padding-x-20--xs.g-padding-y-20--xs.g-radius--circle 02
              .g-padding-x-20--xs
                %h3.g-font-size-18--xs.g-color--white Create
                %p.g-color--white-opacity The time has come to bring those ideas and plans to life.
          / End Process
          / Process
          %li.col-sm-3.col-xs-6.g-full-width--xs.s-process-v1.g-margin-b-60--xs.g-margin-b-0--sm
            .center-block.g-text-center--xs
              .g-margin-b-30--xs
                %span.g-display-inline-block--xs.g-width-100--xs.g-height-100--xs.g-font-size-38--xs.g-color--primary.g-bg-color--white.g-box-shadow__dark-lightest-v4.g-padding-x-20--xs.g-padding-y-20--xs.g-radius--circle 03
              .g-padding-x-20--xs
                %h3.g-font-size-18--xs.g-color--white Develop
                %p.g-color--white-opacity Whether through commerce or just an experience to tell your brand.
          / End Process
          / Process
          %li.col-sm-3.col-xs-6.g-full-width--xs.s-process-v1
            .center-block.g-text-center--xs
              .g-margin-b-30--xs
                %span.g-display-inline-block--xs.g-width-100--xs.g-height-100--xs.g-font-size-38--xs.g-color--primary.g-bg-color--white.g-box-shadow__dark-lightest-v4.g-padding-x-20--xs.g-padding-y-20--xs.g-radius--circle 04
              .g-padding-x-20--xs
                %h3.g-font-size-18--xs.g-color--white Release
                %p.g-color--white-opacity Now that your brand is all dressed up and ready to party.
          / End Process
        .g-text-center--xs
          %a.text-uppercase.s-btn.s-btn--md.s-btn--white-bg.g-radius--50.g-padding-x-70--xs{:href => "#js__scroll-to-appointment"} Hire Us
    / End Process
    / News
    .g-bg-color--sky-light
      .container.g-padding-y-80--xs.g-padding-y-125--sm
        .g-text-center--xs.g-margin-b-80--xs
          %p.text-uppercase.g-font-size-14--xs.g-font-weight--700.g-color--primary.g-letter-spacing--2.g-margin-b-25--xs Blog
          %h2.g-font-size-32--xs.g-font-size-36--md.g-letter-spacing--1 Latest News
        .row
          .col-sm-4.g-margin-b-30--xs.g-margin-b-0--md
            / News
            %article
              %img.img-responsive{:alt => "Image", :src => "img/970x970/01.jpg"}/
              .g-bg-color--white.g-box-shadow__dark-lightest-v2.g-text-center--xs.g-padding-x-40--xs.g-padding-y-40--xs
                %p.text-uppercase.g-font-size-14--xs.g-font-weight--700.g-color--primary.g-letter-spacing--2 News
                %h3.g-font-size-22--xs.g-letter-spacing--1
                  %a{:href => "https://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes"} Create Something Great.
                %p The time has come to bring those ideas and plans to life.
            / End News
          .col-sm-4.g-margin-b-30--xs.g-margin-b-0--md
            / News
            %article
              %img.img-responsive{:alt => "Image", :src => "img/970x970/02.jpg"}/
              .g-bg-color--white.g-box-shadow__dark-lightest-v2.g-text-center--xs.g-padding-x-40--xs.g-padding-y-40--xs
                %p.text-uppercase.g-font-size-14--xs.g-font-weight--700.g-color--primary.g-letter-spacing--2 News
                %h3.g-font-size-22--xs.g-letter-spacing--1
                  %a{:href => "https://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes"} Jacks of All. Experts in All.
                %p The time has come to bring those ideas and plans to life.
            / End News
          .col-sm-4
            / News
            %article
              %img.img-responsive{:alt => "Image", :src => "img/970x970/03.jpg"}/
              .g-bg-color--white.g-box-shadow__dark-lightest-v2.g-text-center--xs.g-padding-x-40--xs.g-padding-y-40--xs
                %p.text-uppercase.g-font-size-14--xs.g-font-weight--700.g-color--primary.g-letter-spacing--2 News
                %h3.g-font-size-22--xs.g-letter-spacing--1
                  %a{:href => "https://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes"} Finding your Perfect Place.
                %p The time has come to bring those ideas and plans to life.
            / End News
    / End News
    / Subscribe
    .g-bg-color--dark-light
      .g-container--sm.g-text-center--xs.g-padding-y-80--xs.g-padding-y-125--sm
        .g-margin-b-60--xs
          %p.text-uppercase.g-font-size-14--xs.g-font-weight--700.g-color--white-opacity.g-letter-spacing--2.g-margin-b-25--xs Subscribe
          %h2.g-font-size-32--xs.g-font-size-36--sm.g-letter-spacing--1.g-color--white Join Over 1000+ People
        .row
          .col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1
            %form.input-group
              %input.form-control.s-form-v1__input.g-radius--left-50{:name => "email", :placeholder => "Enter your email", :type => "email"}/
              %span.input-group-btn
                %button.s-btn.s-btn-icon--md.s-btn-icon--white-brd.s-btn--white-brd.g-radius--right-50{:type => "submit"}
                  %i.ti-arrow-right
    / End Subscribe
    / ========== END PAGE CONTENT ==========
    / ========== FOOTER ==========
    %footer.g-bg-color--dark
      / Links
      .g-hor-divider__dashed--white-opacity-lightest
        .container.g-padding-y-80--xs
          .row
            .col-sm-2.g-margin-b-20--xs.g-margin-b-0--md
              %ul.list-unstyled.g-ul-li-tb-5--xs.g-margin-b-0--xs
                %li
                  %a.g-font-size-15--xs.g-color--white-opacity{:href => "http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes"} Home
                %li
                  %a.g-font-size-15--xs.g-color--white-opacity{:href => "http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes"} About
                %li
                  %a.g-font-size-15--xs.g-color--white-opacity{:href => "http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes"} Work
                %li
                  %a.g-font-size-15--xs.g-color--white-opacity{:href => "http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes"} Contact
            .col-sm-2.g-margin-b-20--xs.g-margin-b-0--md
              %ul.list-unstyled.g-ul-li-tb-5--xs.g-margin-b-0--xs
                %li
                  %a.g-font-size-15--xs.g-color--white-opacity{:href => "http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes"} Twitter
                %li
                  %a.g-font-size-15--xs.g-color--white-opacity{:href => "http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes"} Facebook
                %li
                  %a.g-font-size-15--xs.g-color--white-opacity{:href => "http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes"} Instagram
                %li
                  %a.g-font-size-15--xs.g-color--white-opacity{:href => "http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes"} YouTube
            .col-sm-2.g-margin-b-40--xs.g-margin-b-0--md
              %ul.list-unstyled.g-ul-li-tb-5--xs.g-margin-b-0--xs
                %li
                  %a.g-font-size-15--xs.g-color--white-opacity{:href => "http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes"} Subscribe to Our Newsletter
                %li
                  %a.g-font-size-15--xs.g-color--white-opacity{:href => "http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes"} Privacy Policy
                %li
                  %a.g-font-size-15--xs.g-color--white-opacity{:href => "http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes"} Terms &amp; Conditions
            .col-md-4.col-md-offset-2.col-sm-5.col-sm-offset-1.s-footer__logo.g-padding-y-50--xs.g-padding-y-0--md
              %h3.g-font-size-18--xs.g-color--white Megakit
              %p.g-color--white-opacity We are a creative studio focusing on culture, luxury, editorial &amp; art. Somewhere between sophistication and simplicity.
      / End Links
      / Copyright
      .container.g-padding-y-50--xs
        .row
          .col-xs-6
            %a{:href => "index.html"}
              %img.g-width-100--xs.g-height-auto--xs{:alt => "Megakit Logo", :src => "img/logo.png"}/
          .col-xs-6.g-text-right--xs
            %p.g-font-size-14--xs.g-margin-b-0--xs.g-color--white-opacity-light
              %a{:href => "http://keenthemes.com/preview/Megakit/"} Megakit
              Theme Powered by:
              %a{:href => "http://www.keenthemes.com/"} KeenThemes.com
      / End Copyright
    / ========== END FOOTER ==========
    / Back To Top
    %a.s-back-to-top.js__back-to-top{:href => "javascript:void(0);"}
    / ========== JAVASCRIPTS (Load javascripts at bottom, this will reduce page load time) ==========
    / Vendor
    %script{:src => "vendor/jquery.min.js", :type => "text/javascript"}
    %script{:src => "vendor/jquery.migrate.min.js", :type => "text/javascript"}
    %script{:src => "vendor/bootstrap/js/bootstrap.min.js", :type => "text/javascript"}
    %script{:src => "vendor/jquery.smooth-scroll.min.js", :type => "text/javascript"}
    %script{:src => "vendor/jquery.back-to-top.min.js", :type => "text/javascript"}
    %script{:src => "vendor/scrollbar/jquery.scrollbar.min.js", :type => "text/javascript"}
    %script{:src => "vendor/magnific-popup/jquery.magnific-popup.min.js", :type => "text/javascript"}
    %script{:src => "vendor/jquery.parallax.min.js", :type => "text/javascript"}
    %script{:src => "vendor/swiper/swiper.jquery.min.js", :type => "text/javascript"}
    %script{:src => "vendor/jquery.wow.min.js", :type => "text/javascript"}
    / General Components and Settings
    %script{:src => "js/global.min.js", :type => "text/javascript"}
    %script{:src => "js/components/header-sticky.min.js", :type => "text/javascript"}
    %script{:src => "js/components/scrollbar.min.js", :type => "text/javascript"}
    %script{:src => "js/components/magnific-popup.min.js", :type => "text/javascript"}
    %script{:src => "js/components/swiper.min.js", :type => "text/javascript"}
    %script{:src => "js/components/wow.min.js", :type => "text/javascript"}
    / ========== END JAVASCRIPTS ==========
  / End Body
