!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    / The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    %title Day - HTML Bootstrap Template
    / Bootstrap
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "css/animate.css", :rel => "stylesheet"}/
    %link{:href => "css/animate.min.css", :rel => "stylesheet"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    /
      \=======================================================
      Theme Name: Day
      Theme URL: https://bootstrapmade.com/day-multipurpose-html-template-for-free/
      Author: BootstrapMade
      Author URL: https://bootstrapmade.com
      \=======================================================
  %body
    %header#header
      %nav.navbar.navbar-default.navbar-static-top{:role => "banner"}
        .container
          .navbar-header
            %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            .navbar-brand
              %a{:href => "index.html"}
                %h1 Day
          .navbar-collapse.collapse
            .menu
              %ul.nav.nav-tabs{:role => "tablist"}
                %li{:role => "presentation"}
                  %a{:href => "index.html"} Home
                %li{:role => "presentation"}
                  %a{:href => "about.html"} About Us
                %li{:role => "presentation"}
                  %a{:href => "services.html"} Services
                %li{:role => "presentation"}
                  %a{:href => "gallery.html"} Gallery
                %li{:role => "presentation"}
                  %a.active{:href => "contact.html"} Contact
        / /.container
      / /nav
    / /header
    .map
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "380", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22864.11283411948!2d-73.96468908098944!3d40.630720240038435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sbg!4v1540447494452", :style => "border:0", :width => "100%"}
    %section.contact-page
      .container
        .text-center
          %h2 Drop Your Message
          %p Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .row.contact-wrap
          .col-md-6.col-md-offset-3
            #sendmessage Your message has been sent. Thank you!
            #errormessage
            %form.contactForm{:action => "", :method => "post", :role => "form"}
              .form-group
                %input#name.form-control{"data-msg" => "Please enter at least 4 chars", "data-rule" => "minlen:4", :name => "name", :placeholder => "Your Name", :type => "text"}/
                .validation
              .form-group
                %input#email.form-control{"data-msg" => "Please enter a valid email", "data-rule" => "email", :name => "email", :placeholder => "Your Email", :type => "email"}/
                .validation
              .form-group
                %input#subject.form-control{"data-msg" => "Please enter at least 8 chars of subject", "data-rule" => "minlen:4", :name => "subject", :placeholder => "Subject", :type => "text"}/
                .validation
              .form-group
                %textarea.form-control{"data-msg" => "Please write something for us", "data-rule" => "required", :name => "message", :placeholder => "Message", :rows => "5"}
                .validation
              .text-center
                %button.btn.btn-primary.btn-lg{:name => "submit", :required => "required", :type => "submit"}
                  Submit
                  Message
        / /.row
      / /.container
    / /#contact-page
    %footer
      .container
        .col-md-4.wow.fadeInDown{"data-wow-delay" => "300ms", "data-wow-duration" => "1000ms"}
          %h4 About Us
          %p Day is tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum mas justo sitters.
          .contact-info
            %ul
              %li
                %i.fa.fa-home.fa>
                Suite 54 Elizebth Street, Victoria State Newyork, USA
              %li
                %i.fa.fa-phone.fa
                +38 000 129900
              %li
                %i.fa.fa-envelope.fa
                info@domain.net
        .col-md-4.wow.fadeInDown{"data-wow-delay" => "600ms", "data-wow-duration" => "1000ms"}
          .text-center
            %h4 Photo Gallery
            %ul.sidebar-gallery
              %li
                %a{:href => "#"}
                  %img{:alt => "", :src => "img/gallery1.png"}/
              %li
                %a{:href => "#"}
                  %img{:alt => "", :src => "img/gallery2.png"}/
              %li
                %a{:href => "#"}
                  %img{:alt => "", :src => "img/gallery3.png"}/
              %li
                %a{:href => "#"}
                  %img{:alt => "", :src => "img/gallery4.png"}/
              %li
                %a{:href => "#"}
                  %img{:alt => "", :src => "img/gallery5.png"}/
              %li
                %a{:href => "#"}
                  %img{:alt => "", :src => "img/gallery6.png"}/
        .col-md-4.wow.fadeInDown{"data-wow-delay" => "900ms", "data-wow-duration" => "1000ms"}
          %h4 Newsletter Registration
          %p Subscribe today to receive the latest Day news via email. You may unsubscribe from this service at any time
          .btn-gamp
            %input#exampleInputEmail3.form-control{:placeholder => "Enter Email", :type => "email"}/
          .btn-gamp
            %a.btn.btn-default{:type => "submit"} Subscribe
    .sub-footer
      .container
        .social-icon
          .col-md-4
            %ul.social-network
              %li
                %a.fb.tool-tip{:href => "#", :title => "Facebook"}
                  %i.fa.fa-facebook
              %li
                %a.twitter.tool-tip{:href => "#", :title => "Twitter"}
                  %i.fa.fa-twitter
              %li
                %a.gplus.tool-tip{:href => "#", :title => "Google Plus"}
                  %i.fa.fa-google-plus
              %li
                %a.linkedin.tool-tip{:href => "#", :title => "Linkedin"}
                  %i.fa.fa-linkedin
              %li
                %a.ytube.tool-tip{:href => "#", :title => "You Tube"}
                  %i.fa.fa-youtube-play
        .col-md-4.col-md-offset-4
          .copyright
            © Day Theme. All Rights Reserved.
            .credits
              /
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Day
              Designed by
              %a{:href => "https://bootstrapmade.com/"} BootstrapMade
    / jQuery (necessary for Bootstrap's JavaScript plugins)
    %script{:src => "js/jquery.js"}
    / Include all compiled plugins (below), or include individual files as needed
    %script{:src => "js/bootstrap.min.js"}
    %script{:src => "js/wow.min.js"}
    :javascript
      wow = new WOW({}).init();
    %script{:src => "contactform/contactform.js"}
