!!!
%html.no-js{:lang => "en"}
  / Begin Head
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    / Basic
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %title Megakit - HTML5 Theme
    %meta{:content => "HTML5 Theme", :name => "keywords"}/
    %meta{:content => "Megakit - HTML5 Theme", :name => "description"}/
    %meta{:content => "keenthemes.com", :name => "author"}/
    / Web Fonts
    %link{:href => "https://fonts.googleapis.com/css?family=Lato:300,400,400i|Montserrat:400,700", :rel => "stylesheet"}/
    / Vendor Styles
    %link{:href => "vendor/bootstrap/css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "vendor/themify/themify.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "vendor/scrollbar/scrollbar.min.css", :rel => "stylesheet", :type => "text/css"}/
    / Theme Styles
    %link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/global/global.css", :rel => "stylesheet", :type => "text/css"}/
    / Favicon
    %link{:href => "img/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    %link{:href => "img/apple-touch-icon.png", :rel => "apple-touch-icon"}/
  / End Head
  / Body
  %body
    / ========== HEADER ==========
    %header.navbar-fixed-top.s-header.js__header-overlay
      / Navbar
      .s-header__navbar
        .s-header__container
          .s-header__navbar-row
            .s-header__navbar-row-col
              / Logo
              .s-header__logo
                %a.s-header__logo-link{:href => "index.html"}
                  %img.s-header__logo-img{:alt => "Megakit Logo", :src => "img/logo-dark.png"}/
              / End Logo
            .s-header__navbar-row-col
              / Trigger
              %a.s-header__trigger.s-header__trigger--dark.js__trigger{:href => "javascript:void(0);"}
                %span.s-header__trigger-icon
                %svg{:height => "3.125rem", :viewbox => "0 0 54 54", :width => "3.125rem", :x => "0rem", :y => "0rem"}
                  %circle{:cx => "27", :cy => "27", :fill => "transparent", :r => "25", :stroke => "#fff", "stroke-dasharray" => "157 157", "stroke-dashoffset" => "157", "stroke-width" => "1"}
              / End Trigger
      / End Navbar
      / Overlay
      .s-header-bg-overlay.js__bg-overlay
        / Nav
        %nav.s-header__nav.js__scrollbar
          .container-fluid
            / Menu List
            %ul.list-unstyled.s-header__nav-menu
              %li.s-header__nav-menu-item
                %a.s-header__nav-menu-link.s-header__nav-menu-link-divider{:href => "index.html"} Corporate
              %li.s-header__nav-menu-item
                %a.s-header__nav-menu-link.s-header__nav-menu-link-divider{:href => "index_app_landing.html"} App Landing
              %li.s-header__nav-menu-item
                %a.s-header__nav-menu-link.s-header__nav-menu-link-divider{:href => "index_portfolio.html"} Portfolio
              %li.s-header__nav-menu-item
                %a.s-header__nav-menu-link.s-header__nav-menu-link-divider{:href => "index_events.html"} Events
              %li.s-header__nav-menu-item
                %a.s-header__nav-menu-link.s-header__nav-menu-link-divider{:href => "index_lawyer.html"} Lawyer
              %li.s-header__nav-menu-item
                %a.s-header__nav-menu-link.s-header__nav-menu-link-divider{:href => "index_clinic.html"} Clinic
              %li.s-header__nav-menu-item
                %a.s-header__nav-menu-link.s-header__nav-menu-link-divider.-is-active{:href => "index_coming_soon.html"} Coming Soon
            / End Menu List
            / Menu List
            %ul.list-unstyled.s-header__nav-menu
              %li.s-header__nav-menu-item
                %a.s-header__nav-menu-link.s-header__nav-menu-link-divider{:href => "about.html"} About
              %li.s-header__nav-menu-item
                %a.s-header__nav-menu-link.s-header__nav-menu-link-divider{:href => "team.html"} Team
              %li.s-header__nav-menu-item
                %a.s-header__nav-menu-link.s-header__nav-menu-link-divider{:href => "services.html"} Services
              %li.s-header__nav-menu-item
                %a.s-header__nav-menu-link.s-header__nav-menu-link-divider{:href => "events.html"} Events
              %li.s-header__nav-menu-item
                %a.s-header__nav-menu-link.s-header__nav-menu-link-divider{:href => "faq.html"} FAQ
              %li.s-header__nav-menu-item
                %a.s-header__nav-menu-link.s-header__nav-menu-link-divider{:href => "contacts.html"} Contacts
            / End Menu List
        / End Nav
        / Action
        %ul.list-inline.s-header__action.s-header__action--lb
          %li.s-header__action-item
            %a.s-header__action-link.-is-active{:href => "#"} En
          %li.s-header__action-item
            %a.s-header__action-link{:href => "#"} Fr
        / End Action
        / Action
        %ul.list-inline.s-header__action.s-header__action--rb
          %li.s-header__action-item
            %a.s-header__action-link{:href => "https://www.behance.net/keenthemes"}
              %i.g-padding-r-5--xs.ti-facebook
              %span.g-display-none--xs.g-display-inline-block--sm Facebook
          %li.s-header__action-item
            %a.s-header__action-link{:href => "https://twitter.com/keenthemes"}
              %i.g-padding-r-5--xs.ti-twitter
              %span.g-display-none--xs.g-display-inline-block--sm Twitter
          %li.s-header__action-item
            %a.s-header__action-link{:href => "https://dribbble.com/keenthemes"}
              %i.g-padding-r-5--xs.ti-dribbble
              %span.g-display-none--xs.g-display-inline-block--sm Dribbble
        / End Action
      / End Overlay
    / ========== END HEADER ==========
    / ========== PAGE CONTENT ==========
    .g-bg-position--center.g-fullheight--xs{:style => "background: url('img/1920x1080/08.jpg');"}
      .container.js__ver-center-aligned
        .g-text-center--xs
          .g-margin-t-40--xs.g-margin-b-60--xs.g-margin-b-80--sm
            %h1.g-font-size-32--xs.g-font-size-50--sm.g-font-size-60--md.g-margin-b-30--xs Website Coming Soon
            %p.text-uppercase.g-font-size-20--md.g-font-weight--300 Be the first to know when we launch
          %form
            .row.g-margin-b-80--xs
              .col-sm-4.col-sm-offset-2.col-xs-6.g-full-width--xs.g-margin-b-30--xs.g-margin-b-0--md
                .input-group
                  %span.input-group-btn
                    %i.s-form-v4__icon.ti-user
                  %input.form-control.s-form-v4__input{:placeholder => "Your Name", :type => "text"}/
              .col-sm-4.col-xs-6.g-full-width--xs
                .input-group
                  %span.input-group-btn
                    %i.s-form-v4__icon.ti-email
                  %input.form-control.s-form-v4__input{:placeholder => "Your Email", :type => "email"}/
            %button.text-uppercase.s-btn.s-btn--md.s-btn--dark-brd.g-radius--50.g-padding-x-50--xs.g-margin-b-20--xs{:type => "submit"} Submit
    / ========== END PAGE CONTENT ==========
    / ========== JAVASCRIPTS (Load javascripts at bottom, this will reduce page load time) ==========
    / Vendor
    %script{:src => "vendor/jquery.min.js", :type => "text/javascript"}
    %script{:src => "vendor/jquery.migrate.min.js", :type => "text/javascript"}
    %script{:src => "vendor/bootstrap/js/bootstrap.min.js", :type => "text/javascript"}
    %script{:src => "vendor/jquery.smooth-scroll.min.js", :type => "text/javascript"}
    %script{:src => "vendor/scrollbar/jquery.scrollbar.min.js", :type => "text/javascript"}
    / General Components and Settings
    %script{:src => "js/global.min.js", :type => "text/javascript"}
    %script{:src => "js/components/scrollbar.min.js", :type => "text/javascript"}
    / ========== END JAVASCRIPTS ==========
  / End Body
